@import url(main.css);

/* * {
    outline: 1px solid red;
} */

img.img-thumbnail.pull-left {
    margin: 10px;
}

.cta .cta-block .item p {
    margin-top: 5%;
    font-size: 16px;
    line-height: 19px;
}

span.rating {
    margin-left: 15px;
    margin-top: 10px;
}

.navbar .navbar-nav li.active ul.dropdown-menu a {
    color: #48bdc5; 
}

.navbar .navbar-nav li ul.dropdown-menu li a:hover {
    background-color: #48bdc5; 
    color: #fff;/* Warna teks saat dihover (misalnya merah) */
}